@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #2980B9;
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
}

#changer {
    margin: 25px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}


button {
    padding: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(178, 223, 251, .3);
    border-radius: 8px;
    border-color: #fff ;
    cursor: pointer;
}

button:hover {
    background: #2980B9;
    background: linear-gradient(to right, #6DD5FA, #2980B9);
}


.card {
    width: 90%;
    max-width: 470px;
    background: #6DD5FA;
    color: #FFFFFF;
    border-radius: 20px;
    margin: 50px auto 20px ;
    padding: 40px 35px;
    text-align: center;
}

.weather-icon {
    width: 180px;
}

.weather-text {
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.weather h1 {
    font-size: 35px;
    font-weight: 300;
    margin-top: 20px;
}

.weather h2 {
    font-size: 80px;
    font-weight: 500;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 22px;
}